| model | family | split | accuracy | precision | recall | specificity | f1 | roc_auc | pr_auc | mcc | brier | log_loss | threshold | tn | fp | fn | tp | fit_seconds |
|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|
| CatBoost | Ensemble | validation | 0.8244 | 0.4060 | 0.5621 | 0.8669 | 0.4714 | 0.8286 | 0.4274 | 0.3764 | 0.0971 | 0.3134 | 0.2610 | 28390 | 4360 | 2322 | 2980 | 15.6000 |
